.header-bar {
    background:#222;
    padding:1.5em 2rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.header-bar .menu:not(.context-menu)>.item {
    color:#eee;       
}

.header-bar > ul > li:nth-child(6) {
    padding:2px 12px;
    border-radius: 5px;
    background:#8C2A90;
}
