.header-bar {
    background:black;
    padding:1.5em 2rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.header-bar .menu:not(.context-menu)>.item {
    color:#222;   
}

.header-bar > ul > li:not(:last-child) {
    margin-right:12px;
}

.header-bar > ul > li:nth-child(6) {
    padding:2px 12px;
    border-radius: 5px;
    color: #fff !important;
    background:#8C2A90;
}

.link-item {
    color: white !important;
}





.mud-appbar .mud-button-label {
    padding: 2px 6px;
    margin-left: 2rem;
    border-radius: 5px;
    color: #222 !important;
    background: #8C2A90;
}

.menu-item-wrapper {
    .menu-item {
        margin-left: 15px;
        font-size:1rem;
        cursor: pointer;
    }
    .menu-item:first-of-type {
        margin-left:25px;
    }
    .menu-item:hover, .sub-menu-item:hover {
        opacity: 80%;
    }
}

.navmenu-logo {
    margin-right:2em;
}