@inject IStringLocalizer<Breadcrumb> Localize

@foreach(var item in Items) {
    <a @onclick="()=>NavigateToUrl(item.Url)">@item.Text</a>
}

@code{
    private string currentUrl;
    public IEnumerable<MenuItem> Items { get; set; }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        Items = new List<MenuItem>
        {
            new MenuItem { Text = "Dashboard", Url = ""},
            new MenuItem { Text = currentUrl, Url = ""},
        };
    }
    private void NavigateToUrl(string url) {
        NavigationManager.NavigateTo(url);
    }
    
}