::deep .mud-nav-link-text{
    color: #fff!important;
}

::deep .text-white {
    color:#222;
}
.menu-link-text, .menu-link {
    color:#222;
}


.header-bar {
    padding: 1.5em 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mud-appbar .mud-button-label {
    padding: 2px 6px;
    margin-left: 2rem;
    border-radius: 5px;
    color: #222 !important;
    background: #8C2A90;
}

.sub-menu {
    background-color: #ddd;
    top: 64px;    
    width: 100%;   
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    position: fixed;
    z-index: 4;
    text-align: center;
}

.sub-menu-item {
    cursor: pointer;
}
.menu-item-wrapper {
    .menu-item {
        margin-left: 15px;
        font-size:1rem;
        cursor: pointer;
    }
    .menu-item:first-of-type {
        margin-left:25px;
    }
    .menu-item:hover, .sub-menu-item:hover {
        opacity: 80%;
    }
}

.navmenu-logo {
    margin-right:2em;
    margin-top: 8px;
    margin-left: 5px;
    
}