@inject NavigationManager NavigationManager
@inject IStringLocalizer<ModuleAdminLazySettings> Localize

<SetModuleAdminSettings>
    <div>
        Bob says hello from admin settings basic
    </div>
</SetModuleAdminSettings> 
<p>Frank says hi</p>
@code {
    
}