@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Localize
<MudSpacer />
<SuperAdminNavMenu Class="mx-1" />
<NavMenuAccount Class="mx-1" />
<NavMenuLogIn Class="mx-1" />
<MudLayout>
    <CascadingAuthenticationState>
        <CascadingValue Value="@_roomName" Name="roomName">
            <AuthorizeView>
                <Authorized>
                    <MudSpacer />
                    <SuperAdminNavMenu Class="mx-1" />
                    <NavMenuAccount Class="mx-1" />
                    <NavMenuLogIn Class="mx-1" />
                </Authorized>
                <NotAuthorized>
                    <UnauthorizedNav2 />
                    <div class="content">
                        <div>
                            <Breadcrumb />
                        </div>
                        <div class="pt-8">
                            @Body
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>        
        </CascadingValue>
    </CascadingAuthenticationState>
    <p>unauthorizedlayout</p>
</MudLayout>
@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }
    [Parameter]
    public string _roomName { get; set; }
    public string roomName { get; set; }
    public ClaimsPrincipal User { get; set; }
    public RenderFragment moduleAdminContent { get; set; }
    protected override async Task OnInitializedAsync()
    {
        User = (await authenticationStateTask).User;
        await base.OnInitializedAsync();
    }
    public void SetModuleAdminContent(RenderFragment moduleAdminContent)
    {
        this.moduleAdminContent = moduleAdminContent;
        StateHasChanged();
    }
    protected override async Task OnParametersSetAsync()
    {
        //object slug = null;
        // can parse out useful slug data and retain it.
        @*
            if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("roomName", out slug) == true)
            {
            this.roomName = slug?.ToString();
            }
        *@
        await base.OnParametersSetAsync();
    }
    bool expandNavMenu = false;
    void ToggleNavMenu()
    {
        expandNavMenu = !expandNavMenu;
    }
    bool DrawerExpanded { get; set; } = true;
    MudDrawer DrawerRef { get; set; }
}
