@inject IStringLocalizer<ShowSignalRDetector> Localize

<ShowAccountModule />

<MudContainer>
    <p>Lazy Known Accounts</p>    
</MudContainer>

@code {
    protected override async Task OnInitializedAsync()
    {
        
        
        await base.OnInitializedAsync();     
        
    }
}
