@inject NavigationManager NavigationManager
@inject IStringLocalizer<ModuleAdminNav> Localize

<SetModuleAdminNav>
    <div>
        HELLO FROM ADMIN NAV    
    </div>    
</SetModuleAdminNav>

@code {
}
