@using System.Linq

@inject IStringLocalizer<ParticipateAdminComponent> Localize

<SetModuleAdminSettings>
    <div>
        Bob says hello from admin settings basic
    </div>
</SetModuleAdminSettings> 

<div>
    Hello bob!
</div>
@code {    
    
}