@page "/AllBooks"

@inject IStringLocalizer<Participate> Localize

<PageTitle>The Public Library - General Lazy Module</PageTitle>
@foreach(var book in BookTestData.AllBooks){
    <div>@book.Title</div>
}

<div style="margin-left: 15px; margin-top: 15px;">
    <AllBooksComponent />
    <ModuleNav>Bob</ModuleNav>
    <ModuleSettings>Frank</ModuleSettings>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}