@inject IStringLocalizer<ParticipateComponent> Localize1
<span> </span>
@code {
    protected override void OnAfterRender(bool firstRender)
    {                        
        if(firstRender)
        {
            
        } 
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}