@inject IStringLocalizer<ModuleTestComponent> Localize

<h2>Module Test Component</h2>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}