# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '7.0.x' ]
        
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
    - name: Restore Core
      run: dotnet restore "./src/+Modules/Required/ThePublicLibrary/____Core/_TPL.Core/src/TPL.Core.csproj"      
    - name: Build Core
      run: dotnet build "./src/+Modules/Required/ThePublicLibrary/____Core/_TPL.Core/src/TPL.Core.csproj"      
    - name: Run Core - Unit Tests
      run: dotnet test "./src/+Modules/Required/ThePublicLibrary/____Core/_TPL.Core.UnitTests/src/TPL.Core.UnitTests.csproj"
      
    - name: Restore Infrastructure
      run: dotnet restore "./src/+Modules/Required/ThePublicLibrary/____Core/_TPL.Core/src/TPL.Core.csproj"      
    - name: Build Infrastructure
      run: dotnet build "./src/+Modules/Required/ThePublicLibrary/___Infrastructure/TPL.Infrastructure/src/TPL.IntegrationTests.csproj"      
    - name: Run Infrastructure - Unit Tests
      run: dotnet test "./src/+Modules/Required/ThePublicLibrary/___Infrastructure/TPL.Infrastructure.UnitTests/src/TPL.Infrastructure.IntegrationTests.csproj"
    
    - name: Restore Application
      run: dotnet restore "./src/+Modules/Required/ThePublicLibrary/_Application/_TPL.Application/src/TPL.Application.csproj"      
    - name: Build Application
      run: dotnet build "./src/+Modules/Required/ThePublicLibrary/_Application/TPL.Application/src/TPL.IntegrationTests.csproj"      
    - name: Run Application - Unit Tests
      run: dotnet test "./src/+Modules/Required/ThePublicLibrary/_Application/TPL.Application.UnitTests/src/TPL.Application.FeatureTests.csproj"
      
    
