@page "/ymi/primary/signalr"

@inject IStringLocalizer<SignalR> Localize

<PageTitle>SignalR</PageTitle>

<SetModuleNav></SetModuleNav>
<SetModuleSettings></SetModuleSettings>

<p Typo="Typo.h4" Class="mb-8">SignalR</p>

<ActorizeView>
    <Actorized Context="authContext">
        SignalR
    </Actorized>
</ActorizeView>
@code {
}